/* DOI Extension Styles */

.beta-badge-container {
    margin-bottom: 15px;
}

.beta-badge {
    display: inline-block;
    background-color: #ffe4b1;
    color: rgb(104, 104, 104);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.beta-badge i {
    margin-right: 4px;
}